

$datatable-headline-length: 200px;
$datatable-column-width: 50px;
$datatable-column-height: 40px;
$datatable-padding: 10px;
$datatable-font-size: 18px;
$datatable-min-rows: 5;
$datatable-last-column-width: 170px;
$datatable-rotate: rotate(-45deg);

.dataTables_wrapper {
    max-width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    overflow: auto;

    .DTFC_ScrollWrapper {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 100% !important;
    }

    .dataTables_scroll {
        display: flex;
        flex-direction: column;
        overflow: auto;
        flex-grow: 1;
    }

    .dataTables_scrollHead {
        flex-shrink: 0;
    }

    .dataTables_scroll {
        // doesn't account for horizontal scrollbar
        min-height: $datatable-headline-length + ($datatable-column-height * $datatable-min-rows);
    }

    .no-sort {
        pointer-events: none;

        &:before {
            display: none;
        }
    }

    table.dataTable thead th,
    table.dataTable thead td {
        border-bottom: unset;
    }

    .DTFC_LeftBodyLiner table thead tr th:before {
        display: none;
    }

    .DTFC_LeftHeadWrapper {
        overflow: unset !important;

        .datatable thead tr th > span {
            height: 140px;
            bottom: -164px;
            left: -23px;
            width: 460px;
        }
    }

    .dataTables_scrollHeadInner .datatable thead tr th > span {
        font-size: $datatable-font-size;
        line-height: 35px;
        left: -17px;
        bottom: -53px;
        width: 350px;
        padding: 0 45px 0 75px;
        box-sizing: border-box;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: 3;
    }

    .datatable thead tr th > span {
        position: absolute;
        transform: $datatable-rotate;
        transform-origin: top left;
    }
}

.datatable {
    opacity: 0;
    position: fixed;
    font-family: sans-serif;
    margin: 0 !important;

    thead tr {
        height: $datatable-headline-length;

        th {
            font-size: 0;
        }
    }

    tbody tr {
        th {
            min-width: $datatable-headline-length;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0;
        }

        td {
            overflow: hidden;

            .tooltip-content {
                display: none;
            }
        }
    }

    .dataTables_wrapper & {
        opacity: 1;
        position: relative;

        thead tr th {
            position: relative;
            background-image: none;

            &:before {
                content: '';
                position: absolute;
                bottom: 5px;
                right: 0;
                width: 20px;
                height: 20px;
                z-index: 4;
                transform: $datatable-rotate;
                pointer-events: none;
            }

            &.sorting:before {
                background-image: url("../dist/img/datatables/sort_both.png")
            }

            &.sorting_asc:before {
                background-image: url("../dist/img/datatables/sort_asc.png")
            }

            &.sorting_desc:before {
                background-image: url("../dist/img/datatables/sort_desc.png")
            }

            &.sorting_asc_disabled:before {
                background-image: url("../dist/img/datatables/sort_asc_disabled.png")
            }

            &.sorting_desc_disabled:before {
                background-image: url("../dist/img/datatables/sort_desc_disabled.png")
            }

            &:nth-child(odd) > span {
                background-color: white;

                &:hover {
                    background-color: #eee;
                }
            }

            &:nth-child(even) > span {
                background-color: #ddd;

                &:hover {
                    background-color: #ccc;
                }
            }
        }

        tbody tr {
            th {
                font-size: $datatable-font-size;
                position: relative;
                text-align: right;
                line-height: $datatable-column-height;
                padding: 0 $datatable-padding;
                box-sizing: border-box;

                > span {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 0 $datatable-padding;
                }
            }

            html.desktop &:hover td:not(.highlight),
            html.desktop &:not(:hover) td.highlight {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(white, .5);
                }
            }

            td {
                position: relative;
                padding: 0;

                &:last-child > .spacer {
                    display: block;
                    width: $datatable-last-column-width;
                }

                > .percentage {
                    width: $datatable-column-width;
                    display: block;
                    overflow: hidden;
                    position: relative;
                    bottom: 0;
                    text-align: center;
                    font-size: 14px;
                    height: $datatable-column-height / 2;
                    margin-top: $datatable-column-height / 2;
                    color: white;
                    font-weight: bold;
                }

                .tooltip-content {
                    display: none;
                }

                svg {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    width: 12px;
                    height: 12px;
                }

                &.positive {
                    background-color: #00c000;

                    svg {
                        fill: #006000;
                    }
                }

                &.negative {
                    background-color: #c00000;

                    svg {
                        fill: #600000;
                        transform: rotate(90deg);
                    }
                }

                &.neutral {
                    background-color: #808080;

                    svg {
                        fill: #404040;
                    }
                }

                &.missing {
                    background-color: #f69f00;

                    svg {
                        fill: #e9550b;
                    }
                }
            }
        }
    }
}
