* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 18px;
    font-family: sans-serif;

    > svg {
        display: none;
    }
}

svg {
    display: block;
    pointer-events: none;
}